@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexSpecies
@{
    ViewBag.Title = string.Format("Species");
}

<h1>List of Species</h1>

<div class="row">
    <h2>
        Species
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewSpecies")" class="btn btn-default pull-right">
                New Species
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var species in Model.Species)
            {
                <tr>
                    <td>@species.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewSpecies", new { speciesID = species.id })">
                            @species.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


