@model Fotiv_Automator.Areas.GamePortal.ViewModels.IndexCivilizationTraits
@{
    ViewBag.Title = string.Format("Civilization Traits");
}

<h1>List of Civilization Traits</h1>

<div class="row">
    <h2>
        CivilizationTraits
        @if (Model.User.GameUserInfo.is_gm)
        {
            <a href="@Url.RouteUrl("NewCivilizationTrait", new { gameID = Model.User.GameUserInfo.game_id })" class="btn btn-default pull-right">
                New Civilization Trait
            </a>
        }
    </h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trait in Model.CivilizationTraits)
            {
                <tr>
                    <td>@trait.id</td>
                    <td>
                        <a href="@Url.RouteUrl("ViewCivilizationTrait", new { gameID = Model.User.GameUserInfo.game_id, civilizationTraitID = trait.id })">
                            @trait.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>