@model Fotiv_Automator.Areas.GamePortal.ViewModels.ViewStarAge
@{
    ViewBag.Title = Model.StarAge.name;
}

<div class="row">
    <h1>
        @Model.StarAge.name

        @if ((Model.User.GameUserInfo.is_gm && Model.StarAge.game_id != null) || User.IsInRole("Admin"))
        {
            <a href="@Url.RouteUrl("EditStarAge", new { starAgeID = Model.StarAge.id })" class="btn btn-default pull-right">
                Edit Star Age
            </a>
        }
    </h1>

    <h2>Overview</h2>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.StarAge.id</td>
                <td>@Model.StarAge.name</td>
            </tr>
        </tbody>
    </table>
</div>