html, body { height:100%; }
body {
    padding-top: 70px;
}

.clickable{
    cursor: pointer;   
}

.navUserDropdown .dropdown-toggle {
    margin: 0 0 0 0;
    padding: 0 5px 0 0;
}

.siteContentWrap { min-height: 100%; }
.siteContent {
    padding-bottom: 60px;
}

.siteFooter {
    position: relative;

    background: rgb(14, 34, 81);
    color:white;

    width: 100%;
    height: 60px;

    margin-top:-60px;
}

.canvasContainer
{
    overflow: auto;
    /*overflow: scroll;*/
}

.gmPlayer {color:red;}
.regularPlayer { }